<section class="messenger-container">
    <div class="left-bar">
        {{{childAvatar}}}

        <div class="search-box">
        </div>

        {{{childChatsBox}}}
    </div>

    <div class="right-bar">
        {{{childCurrentChatBox}}}

        {{{childMessagesBox}}}
    </div>
</section>
