.chat-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.chat-bar {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem 0;
  gap: 0.5rem;
  background: var(--color-primary-dark);
}

.chat-dialog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.profile-icon-box {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-secondary-light);
}

.search-box {
  width: 100%;
  height: 1rem;
  background-color: var(--color-secondary-light);
}

.persons-list {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary-light);
}

.person-box {
  width: 100%;
  height: 1rem;
  background-color: var(--color-secondary-light);
}

.dialog {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary-light);
}
