<section class="chat-container">
    <div class="chat-bar">
        <div class="profile-icon-box">

        </div>
        <div class="search-box">

        </div>
        <div class="persons-list">

        </div>
    </div>

    <div class="chat-dialog">
        <div class="person-box">

        </div>
        <div class="dialog">

        </div>
        {{{messageBox}}}
    </div>
    {{{testLinks}}}
</section>
