{{#with form}}
    <h1 class="form-title">
        {{title}}
    </h1>
    <form class="form">
        <div class="form-fields">
        {{#each fields}}
            {{{field}}}
        {{/each}}
        </div>

        <div class="form-buttons">
        {{#each buttons}}
            {{{button}}}
        {{/each}}
        </div>
    </form>
{{/with}}
