.messages-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  width: 100%;
  overflow-y: auto;
}

.messages {
  justify-content: end;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-grow: 1;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
