<div class="test-links-container">
    <div>
        <a href='/'>Login</a>
    </div>
    <div>
        <a href='/register.html'> Register</a>
    </div>
    <div>
        <a href='/404.html'>404</a>
    </div>
    <div>
        <a href='/500.html'>500</a>
    </div>
    <div>
        <a href='/chat.html'>Chat</a>
    </div>
    <div>
        <a href='/profile.html'>Profile</a>
    </div>
    <div>
        <a href='/changeProfile.html'>ChangeProfile</a>
    </div>
    <div>
        <a href='/changePassword.html'>ChangePassword</a>
    </div>
</div>
