<ul class="test-links-container">
    <li>
        <a href='/'>Login</a>
    </li>
    <li>
        <a href='/register.html'> Register</a>
    </li>
    <li>
        <a href='/404.html'>404</a>
    </li>
    <li>
        <a href='/500.html'>500</a>
    </li>
    <li>
        <a href='/chat.html'>Chat</a>
    </li>
    <li>
        <a href='/profile.html'>Profile</a>
    </li>
    <li>
        <a href='/changeProfile.html'>ChangeProfile</a>
    </li>
    <li>
        <a href='/changePassword.html'>ChangePassword</a>
    </li>
</ul>
