<div class="current-chat-left">
    <div class="current-chat-avatar">
        {{{childAvatar}}}
    </div>
    <div class="current-chat-center">
        <div class="current-chat-title">
            {{childTitle}}
        </div>
        <div class="current-chat-user-list">
            {{childUserList}}
        </div>
    </div>
</div>
<div class="current-chat-right">
    {{{childButton}}}
</div>
