.field {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;

  & input {
    background-color: var(--color-light);
    padding-left: 0.25rem;
    border-radius: 0.1rem;

  }

  & input.read-only {
    color: inherit;
    background-color: inherit;
  }
}
