<div class="message-avatar">
    {{{childAvatar}}}
</div>
<div class="message-container">
    <div class="message-display-name">
        {{displayName}}
    </div>
    <div class="message-content">
        {{content}}
    </div>
    <div class="message-time">
        {{time}}
    </div>
</div>
